<!DOCTYPE html>
<html>
	<head>
		<title>Beeline - Template Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<h1>Beeline</h1>
		<div class="left">
			<iframe src="menu.html"></iframe>
		</div>
		<div class="right">
			<h2>Template Configuration</h2>
				<form action="" method="post">

				<h3>_____</h3>
				<div class="inputBlock">
					_____
				</div>


				<h3>_____</h3>
				<div class="inputBlock">
					_____
				</div>


				<h3>_____</h3>
				<div class="inputBlock">
					_____
				</div>


				<h3>_____</h3>
				<div class="inputBlock">
					_____
				</div>


				<h3>_____</h3>
				<div class="inputBlock">
					_____
				</div>


				<button>Save Settings</button>
		    </form>
		</div>
	</body>
</html>