<!DOCTYPE html>
<html>
	<head>
		<title>Beeline MQTT - NTP / Time Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<h1>Beeline MQTT - NTP / Time Configuration</h1>
		<form action="" method="post">
		    <table class="table">
		    	<tbody>

		    		<tr class="roundTop roundBotton">
		    			<th>NTP Host</th>
		    			<td>
		    				<div class="input"><!--#dateTimeNTPHost--></div>
		    				<p class="info">e.g. pool.ntp.org</p>
		    			</td>
		    		</tr>

		    		<tr>
						<th>&nbsp;</th>
		    			<th colspan="2"><button>Save Settings</button></th>
		    		</tr>

		    	</tbody>
		    </table>
	    </form>
	</body>
</html>