<!DOCTYPE html>
<html>
	<head>
		<title>Beeline - Device Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="./javascript.js"></script>
	</head>
	<body >
		<div class="left">
			<iframe src="./menu.html"></iframe>
		</div>
		<div class="right">
			<h2>Device Configuration</h2>
			<form action="" method="post">

				<h3>Unique Name</h3>
				<div class="inputBlock">
					<div class="input"><!--#uniqueName--></div>
				</div>

				<button>Save Settings</button>
		    </form>
		</div>
	</body>
</html>