<!DOCTYPE html>
<html>
	<head>
		<title>Beeline - Die Sensors Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<div class="left">
			<iframe src="./menu.html"></iframe>
		</div>
		<div class="right">
			<h2>Die Sensors Configuration</h2>
			<form action="" method="post">
				<h3>Temperature Sensor</h3>
				<div class="inputBlock">
					<!--#dieSensEn>>0-->
					<label for="dieSensEn>>0">Enable</label><br>
					Delay: <!--#delayTemp-->ms
				</div>

				<h3>Hall Effect Sensor</h3>
				<div class="inputBlock">
					<!--#dieSensEn>>1-->
					<label for="dieSensEn>>1">Enable</label><br>
					Delay: <!--#delayHall-->ms
				</div>

				<h3>Battery Voltage</h3>
				<div class="inputBlock">
					<!--#dieSensEn>>2-->
					<label for="dieSensEn>>1">Enable</label><br>
					Delay: <!--#delayBattV-->ms
				</div>

				<h3>Message Routing</h3>
				<div class="inputBlock">
					<!--#dieSensInRt>>0-->
    				<label for="dieSensInRt>>0">Forward to LoRa</label><br>
    				<!--#dieSensInRt>>1-->
    				<label for="dieSensInRt>>1">Forward to MQTT</label><br>
    				<!--#dieSensInRt>>2-->
    				<label for="dieSensInRt>>2">Forward to Elasticsearch</label><br>
    				<!--#dieSensInRt>>3-->
    				<label for="dieSensInRt>>3">Forward to Display</label><br>
				</div>
				<button>Save Settings</button>
		    </form>
		</div>
	</body>
</html>