<!DOCTYPE html>
<html>
	<head>
		<title>Beeline MQTT - Elasticsearch Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<h1>Beeline MQTT - Elasticsearch Configuration</h1>
		<form action="" method="post">
		    <table class="table">
		    	<tbody>

		    		<tr class="roundTop roundBotton">
		    			<th>URL</th>
		    			<td>
		    				<div class="input"><!--#elasticURL--></div>
		    				<p class="info">e.g. http://user:pass@elastic.example.com:9200</p>
		    			</td>
		    		</tr>

		    		<tr>
						<th>&nbsp;</th>
		    			<th colspan="2"><button>Save Settings</button></th>
		    		</tr>

		    	</tbody>
		    </table>
	    </form>
	</body>
</html>