<!DOCTYPE html>
<html>
	<head>
		<title>Beeline - NTP / Time Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<div class="left">
			<iframe src="./menu.html"></iframe>
		</div>
		<div class="right">
			<h2>NTP / Time Configuration</h2>
				<form action="" method="post">

				<h3>NTP Host</h3>
				<div class="inputBlock">
					<div class="input"><!--#dateTimeNTPHost--></div>
		    		<p class="info">e.g. pool.ntp.org</p>
				</div>

				<button>Save Settings</button>
		    </form>
		</div>
	</body>
</html>