<!--#page:template_top_html-->
<h2>HC-SR04 Configuration</h2>
<form action="" method="post">


	<h3>Delay</h3>
	<div class="inputBlock">
		<div class="input">
			<input type="number" name="nvs:BeelineNVS:int:delayHCSR04" value="<!--#nvs:BeelineNVS:int:delayHCSR04-->" >
		</div>
	</div>

	<h3>Message Routing</h3>
	<div class="inputBlock">
		<input name="nvs:BeelineNVS:bit:HCSR04InRt:0" type="hidden" id="_HCSR040" value="<!--#nvs:BeelineNVS:bit:HCSR04InRt:0-->">
		<input type="checkbox" id="HCSR040" for="_HCSR040" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:HCSR04InRt:0--> >
		<label for="_HCSR040">Forward to LoRa</label><br>

		<input name="nvs:BeelineNVS:bit:HCSR04InRt:1" type="hidden" id="_HCSR041" value="<!--#nvs:BeelineNVS:bit:HCSR04InRt:1-->">
		<input type="checkbox" id="HCSR041" for="_HCSR041" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:HCSR04InRt:1--> >
		<label for="_HCSR041">Forward to MQTT</label><br>

		<input name="nvs:BeelineNVS:bit:HCSR04InRt:2" type="hidden" id="_HCSR042" value="<!--#nvs:BeelineNVS:bit:HCSR04InRt:2-->">
		<input type="checkbox" id="HCSR042" for="_HCSR042" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:HCSR04InRt:2--> >
		<label for="_HCSR042">Forward to Elasticsearch</label><br>

		<input name="nvs:BeelineNVS:bit:HCSR04InRt:3" type="hidden" id="_HCSR043" value="<!--#nvs:BeelineNVS:bit:HCSR04InRt:3-->">
		<input type="checkbox" id="HCSR043" for="_HCSR043" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:HCSR04InRt:3--> >
		<label for="_HCSR043">Forward to Display</label><br>
	</div>

	<button>Save Settings</button>
</form>
<!--#page:template_bottom_html-->