<!DOCTYPE html>
<html>
	<head>
		<title>Beeline - WiFi Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<div class="left">
			<iframe src="./menu.html"></iframe>
		</div>
		<div class="right">
			<h2>WiFi Configuration</h2>
				<form action="" method="post">

				<h3>SSID</h3>
				<div class="inputBlock">
					<div class="input"><!--#wifiSSID--></div>
				</div>


				<h3>Key / Password</h3>
				<div class="inputBlock">
					<div class="input"><!--#wifiPassword--></div>
				</div>

				<h3>Idle</h3>
				<div class="inputBlock">
					<!--#idleDisable>>0-->
    				<label for="idleDisable>>0">Disable when not used</label><br>
				</div>

				<h3>Message Routing</h3>
				<div class="inputBlock">
					<!--#wifiInRt>>0-->
    				<label for="dieSensInRt>>0">Forward to LoRa</label><br>
    				<!--#wifiInRt>>1-->
    				<label for="dieSensInRt>>1">Forward to MQTT</label><br>
    				<!--#wifiInRt>>2-->
    				<label for="dieSensInRt>>2">Forward to Elasticsearch</label><br>
    				<!--#wifiInRt>>3-->
    				<label for="dieSensInRt>>3">Forward to Display</label><br>
				</div>

				<button>Save Settings</button>
		    </form>
		</div>
	</body>
</html>