<!DOCTYPE html>
<html>
	<head>
		<title>Beeline MQTT - WiFi Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<h1>Beeline MQTT - WiFi Configuration</h1>
		<form action="" method="post">
		    <table class="table">
		    	<tbody>

		    		<tr class="roundTop">
		    			<th>SSID</th>
		    			<td><div class="input"><!--#wifiSSID--></div></td>
		    		</tr>
		    		<tr class="roundBotton">
		    			<th>Key / password</th>
		    			<td><div class="input"><!--#wifiPassword--></div></td>
		    		</tr>

		    		<tr>
						<th>&nbsp;</th>
		    			<th colspan="2"><button>Save Settings</button></th>
		    		</tr>

		    	</tbody>
		    </table>
	    </form>
	</body>
</html>