<!DOCTYPE html>
<html>
	<head>
		<title>Beeline - LoRa Configuration</title>
		<link href="./style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body >
		<div class="left">
			<iframe src="./menu.html"></iframe>
		</div>
		<div class="right">
			<h2>LoRa Configuration</h2>
			<form action="" method="post">

				<h3>Frequency</h3>
				<div class="inputBlock">
					<div class="input">
						<input type="text" name="nvs:BeelineNVS:int:loraFrequency" value="<!--#nvs:BeelineNVS:int:loraFrequency-->" >
					</div>
				</div>

				<h3>TX Sync Word</h3>
				<div class="inputBlock">
					<div class="input">
						<input type="text" name="nvs:BeelineNVS:string:loraTXSyncWord" value="<!--#nvs:BeelineNVS:string:loraTXSyncWord-->" >
					</div>
				</div>

				<h3>RX Sync Word</h3>
				<div class="inputBlock">
					<div class="input">
						<input type="text" name="nvs:BeelineNVS:string:loraRXSyncWord" value="<!--#nvs:BeelineNVS:string:loraRXSyncWord-->" >
					</div>
				</div>

				<h3>Encryption Key</h3>
				<div class="inputBlock">
					<div class="input" maxlength="16">
						<input type="text" name="nvs:BeelineNVS:string:loraKey" value="<!--#nvs:BeelineNVS:string:loraKey-->" >
					</div>
		    		<p class="info">Must be 16 characters or less.</p>
				</div>

				<h3>Incoming Message Routing</h3>
				<div class="inputBlock">
					<input name="nvs:BeelineNVS:bit:loraInRt:0" type="hidden" id="_loraInRt0" value="<!--#nvs:BeelineNVS:bit:loraInRt:0-->">
					<input type="checkbox" id="loraInRt0" for="_loraInRt0" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:loraInRt:0--> >
					<label for="_loraInRt0">Forward to LoRa</label><br>

					<input name="nvs:BeelineNVS:bit:loraInRt:1" type="hidden" id="_loraInRt1" value="<!--#nvs:BeelineNVS:bit:loraInRt:1-->">
					<input type="checkbox" id="loraInRt1" for="_loraInRt1" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:loraInRt:1--> >
					<label for="_loraInRt1">Forward to MQTT</label><br>

					<input name="nvs:BeelineNVS:bit:loraInRt:2" type="hidden" id="_loraInRt2" value="<!--#nvs:BeelineNVS:bit:loraInRt:2-->">
					<input type="checkbox" id="loraInRt2" for="_loraInRt2" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:loraInRt:2--> >
					<label for="_loraInRt2">Forward to Elasticsearch</label><br>

					<input name="nvs:BeelineNVS:bit:loraInRt:3" type="hidden" id="_loraInRt3" value="<!--#nvs:BeelineNVS:bit:loraInRt:3-->">
					<input type="checkbox" id="loraInRt3" for="_loraInRt3" onchange="checkboxChange(this)" <!--#nvs:BeelineNVS:checked:loraInRt:3--> >
					<label for="_loraInRt3">Forward to Display</label><br>
				</div>

				<h3>Idle</h3>
				<div class="inputBlock">
					<!--#idleDisable>>1-->
    				<label for="idleDisable>>1">Disable RX when not used</label><br>
				</div>

				<button>Save Settings</button>
		    </form>
		</div>
	</body>
</html>