<!DOCTYPE html>
<html>
	<head>
		<title>Beeline MQTT</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/javascript.js"></script>
	</head>
	<body>
		<h1>Beeline MQTT Router</h1>
		<h4>Main Menu</h4>
		<ul>
			<li><a href="/config_device.html">Device Configuration</a></li>
			<li>&nbsp;</li>
			<li><a href="/config_elasticsearch.html">Elasticsearch Configuration</a></li>
			<li><a href="/config_lora.html">LoRa Configuration</a></li>
			<li><a href="/config_mqtt.html">MQTT Configuration</a></li>
			<li><a href="/config_ntp.html">NTP / Time Configuration</a></li>
			<li><a href="/config_wifi.html">WiFi Configuration</a></li>
		</ul>
	</body>
</html>