<!DOCTYPE html>
<head>
	<link href="./menu.css" rel="stylesheet" type="text/css">
	<base target="_parent">
</head>
<html>
<body>
	<h1>Beeline (<!--#uniqueName-->)</h1>
	<h2>Main Menu</h2>
	<ul>
		<li><a href="/">Home</a></li>
		<li>&nbsp;</li>
		<li><a href="./config_device.html">Device Configuration</a></li>
		<li>&nbsp;</li>
		<li><a href="./config_elasticsearch.html">Elasticsearch Configuration</a></li>
		<li><a href="./config_diesensors.html">Die Sensors Configuration</a></li>
		<li><a href="./config_display.html">Display Configuration</a></li>
		<li><a href="./config_lora.html">LoRa Configuration</a></li>
		<li><a href="./config_mqtt.html">MQTT Configuration</a></li>
		<li><a href="./config_ntp.html">NTP / Time Configuration</a></li>
		<li><a href="./config_wifi.html">WiFi Configuration</a></li>
	</ul>
</body>
</html>